<div class="first--modal">
  <div class="header-section">
    <h3>YouDownload</h3>
    <img src="../../assets/icons/cog.svg" alt="cog-icon" class="icon-img" />
  </div>
  <form action="">
      <label for="text-link">Video Link</label><br>
    <input id="text-link" type="text" />
  </form>
  <div class="bottom-section">
    <select name="" id="option-select">
        <option value="0">MP4</option>
        <option value="1">AVI</option>
        <option value="3">JPEG</option>
        <option value="4">LOLs</option>
    </select>
    <button (click)="firstContinue()" class="continue-btn">Continue</button>

  </div>
</div>
